@charset 'utf-8';
@use 'styles/' as g;

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100dvh;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(g.colors(main, light), g.colors(main, dark));
}
