@charset 'utf-8';

$colors: (
    common: (
        base: #000000,
        white: #ffffff,
    ),
    main: (
        base: #1d1c1d,
        light: #ffcc69,
        dark: #ffb21c,
    ),
    accent: (
        base: #ff4c4c,
    ),
    shadow: (
        base: #00000014,
    ),
);

$font-family: 'Noto Sans JP', 'NotoSans', 'NotoSansCJKJP', '游ゴシック体', YuGothic, 'Yu Gothic M', '游ゴシック Medium',
    'Yu Gothic Medium', sans-serif;

$breakpoints: (
    'pc': 'screen and (min-width: 768px)',
    'pc_wide': 'screen and (min-width: 1000px)',
    'phone': 'screen and (max-width: 375px)',
    'mobile_editor': 'screen and (max-width: 1000px)',
    'mobile': 'screen and (max-width: 767px)',
    'tb': 'screen and (min-width:768px) and (max-width:1100px)',
);
