@charset 'utf-8';

$colors: (
    primary: (base: #1D1C1D),
    shadow: (base: #00000014,
    ),
    btn: (base: #1D1C1D,
        base_op85: #1d1c1dd9,
        secondary: #fff,
        attention: #FF5831,
        text: #fff,
        text_secondary: #1D1C1D,
        hover: #242324,
        hover_secondary: #F1F1F1,
        hover_attention: #F5927D,
        focus: #414041,
        focus_secondary: #C5C5C5,
        focus_attention: #B04329,
        disabled: #DADFE3,
        disabled_text: #0A101566),
    theme: (base: #1F5CF9,
        sub: #2856DF,
        hover: rgba(10, 16, 21, 0.04),
        active: rgba(10, 16, 21, 0.2),
        bg: #fff,
        attention_base: #FF0000,
        attention_sub: #FF5831,
        attention_bg: #FFF5F4),
);

$font-family: "Noto Sans JP", "NotoSans", "NotoSansCJKJP", "游ゴシック体",
    YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", sans-serif;

$breakpoints: (
    'pc': 'screen and (min-width: 768px)',
    'pc_wide': 'screen and (min-width: 1000px)',
    'phone': 'screen and (max-width: 375px)',
    'mobile_editor': 'screen and (max-width: 1000px)',
    'mobile': 'screen and (max-width: 767px)',
    'tb': 'screen and (min-width:768px) and (max-width:1100px)',
);