@charset 'utf-8';
@use 'styles/' as g;

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 2.2rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    border-radius: 0.4rem;
    background-color: rgba($color: g.colors(common, white), $alpha: 0.4);
}

.text {
    color: g.colors(common, white);
    font-size: 0.8rem;
    font-weight: 800;
    line-height: 1.4;
}

.icon {
    width: 1.4rem;
    height: 1.4rem;
    padding: 0.1rem;
}
